@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-center a.active{
  color: rgb(14, 46, 14);
}
.navbar-center a{
  background-color: transparent;
}
.dropdown a.active{
  color: rgb(14, 46, 14);
}
.dropdown a{
  background-color: transparent;
}